In [51]:
##load variables

import os
from dotenv import load_dotenv
from darksky import forecast
from datetime import date,datetime, timedelta
import pandas as pd


##read in secret keys stored in .env file
load_dotenv('.env')
SECRET = os.environ['dark_sky_secret']
LAT = os.environ['LAT']
LONG = os.environ['LONG']

In [86]:
##test api call
data = forecast(SECRET,LAT,LONG, time=t)
data.time

1367856000

In [87]:
type(data)

darksky.forecast.Forecast

In [129]:
##api call

# sdate = datetime(2018, 1, 1,12)   # start date
# edate = datetime(2018, 12, 31,12)   # end date

# delta = edate - sdate       # as timedelta
# weather = {}
# for i in range(delta.days + 1):
#     day = sdate + timedelta(days=i)
#     key = day.strftime('%D')
#     test = forecast(SECRET,LAT,LONG, time=t)
#     weather[key] = test

In [263]:
test_df = pd.DataFrame(columns=names)
for k, v in weather.items():
    toy_df = pd.DataFrame()
    for i in range(24):
        all_dates.append(date)
        timei = pd.DataFrame.from_dict(weather[k]['hourly']['data'][i],orient='index').transpose()
        toy_df= pd.concat([toy_df,timei], sort = False)
    test_df = pd.concat([test_df, toy_df], sort = False)

In [264]:
test_df

,time,summary,icon,precipIntensity,precipProbability,temperature,apparentTemperature,dewPoint,humidity,pressure,windSpeed,windGust,windBearing,cloudCover,uvIndex,visibility,precipType
0,1367812800,Partly Cloudy,partly-cloudy-night,0,0,49.82,49.82,44.89,0.83,1022.15,0.37,1.15,94,0.33,0,7.219,NaN
0,1367816400,Mostly Cloudy,partly-cloudy-night,0,0,48.66,48.66,44.79,0.86,1022.25,0.29,1.15,83,0.53,0,6.001,NaN
0,1367820000,Overcast,cloudy,0,0,49.04,49.04,45.19,0.87,1021.85,0.39,1.2,47,0.92,0,6.481,NaN
0,1367823600,Overcast,cloudy,0,0,49.32,49.32,45.45,0.86,1021.32,0.6,1.56,39,1,0,6.643,NaN
0,1367827200,Overcast,cloudy,0,0,49.62,49.62,45.37,0.85,1020.9,1.07,2.42,31,1,0,6.73,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,1367881200,Overcast,cloudy,0.0004,0.18,60.14,60.14,56.75,0.89,1017.59,2.62,6.57,83,1,0,6.303,rain
0,1367884800,Overcast,cloudy,0.0017,0.26,59.64,59.64,56.66,0.9,1017.95,2.71,7.59,85,1,0,5.972,rain
0,1367888400,Overcast,cloudy,0,0,59.08,59.08,56.43,0.91,1018.33,2.88,6.84,83,1,0,6.649,NaN
0,1367892000,Overcast,cloudy,0,0,58.65,58.65,56.39,0.92,1018.65,2.71,6.45,84,1,0,6.682,NaN
0,1367895600,Overcast,cloudy,0,0,58.28,58.28,56.48,0.94,1018.69,2.76,5.44,83,1,0,5.297,NaN

In [267]:
with open('data/weather2018.pkl', 'wb') as fid:
    pickle.dump(test_df, fid,2)